<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.ordertemplates</package>
	<author>ibacher</author>
	<description>
			${project.parent.description}
	</description>
	<activator>org.openmrs.module.ordertemplates.OrderTemplatesActivator</activator>
	<require_version>2.0.0</require_version>

	<!-- Required Privileges  -->
	<privilege>
		<name>Manage OrderTemplates</name>
		<description>Base privilege for add/edit/delete order templates</description>
	</privilege>

	<privilege>
		<name>View OrderTemplates</name>
		<description>Base privilege for view  order templates</description>
	</privilege>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

